<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A00_AccountDao">
	<!-- public ArrayList<Account> getAccountList(); -->
	<select id="getAccountList" resultType="account">
	select * from account
	</select>
	
	<!-- public Account Login(Account log); -->
	<select id="Login" resultType="account" parameterType="account">
	SELECT * 
	FROM account
	WHERE user_id=#{user_id} AND password=#{password}
	</select>
	
	<!-- public ArrayList<AccountTask> getAccountTaskList(); -->
	<select id="getAccountTaskList" resultType="accountTask" parameterType="int">
		SELECT A.ID ACCOUNT_ID, A.NAME, A.AUTH,
			COUNT(CASE WHEN A.ID = T.ACCOUNT_ID THEN 1 END) TOTAL,
			COUNT(CASE WHEN T.STATUS = '완료' AND A.ID = T.ACCOUNT_ID THEN 1 END) COMPLETED, 
			COUNT(CASE WHEN T.STATUS != '완료' AND A.ID = T.ACCOUNT_ID THEN 1 END) INCOMPLETED
			FROM ACCOUNT A, TASK T WHERE T.PROJECT_ID = #{projectId}
			GROUP BY (A.ID, A.NAME, A.AUTH) ORDER BY A.ID DESC
	</select>
	<!-- public void signinIns(Account insert); -->
	<insert id="signinIns" parameterType="account">
		INSERT INTO ACCOUNT
		VALUES (ACCOUNT_seq.nextval, #{user_id}, #{password}, #{name},
		        #{mail}, #{created_on}, #{last_login_on}, #{auth})
	
	</insert>
</mapper>