<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A11_JournalDao">
	
	<!-- public ArrayList<Journal> getJournalList(Journal jr); -->
	
	<!-- 
	<select id="getJournalList1" parameterType="hashMap" resultType="journal">
			SELECT j.*, a.name account_name, t.project_id projectId 
			FROM journal j, account a, task t
			WHERE document_type like '%'||#{document_type}||'%'
			AND projectId = #{projectId}
			AND j.document_id = t.id
			AND j.account_id = a.id 
			order by created_on DESC
				UNION 
			SELECT j.*, a.name account_name, r.project_id projectId 
			FROM journal j, account a, risk r
			WHERE document_type like '%'||#{document_type}||'%'
			AND projectId = #{projectId}
			AND j.document_id = r.id
			AND j.account_id = a.id 
			order by created_on DESC
	</select>
	<select id="getJournalList2" parameterType="hashMap" resultType="journal">
			SELECT j.*, a.name account_name, t.project_id projectId 
			FROM journal j, account a, task t
			WHERE document_type like '%'||#{document_type}||'%'
			AND projectId = #{projectId}
			AND j.document_id = t.id
			AND j.account_id = a.id 
			order by created_on DESC
	</select>
	<select id="getJournalList3" parameterType="hashMap" resultType="journal">
			SELECT j.*, a.name account_name, r.project_id projectId 
			FROM journal j, account a, risk r
			WHERE document_type like '%'||#{document_type}||'%'
			AND projectId = #{projectId}
			AND j.document_id = r.id
			AND j.account_id = a.id 
			order by created_on DESC
	</select>
	 --> 
	 
 
	<select id="getJournalList" parameterType="journal" resultType="journal">
	SELECT * 
	FROM journal
	WHERE document_type like '%'||#{document_type}||'%'
		order by created_on desc
	</select>
	
</mapper>






