<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A11_JournalDao">
	
	<!-- public ArrayList<Journal> getJournalList(Journal jr); -->
<!-- 	public ArrayList<Journal> getJournalList(int document_id) -->
	<resultMap type="journal" id="journalMap"/>
	<select id="getJournalList" resultMap="journalMap" parameterType="int">
		SELECT j.* FROM journal j, task t
		WHERE j.document_id = t.id
		AND j.document_type = 'task'
		AND t.id = #{id}
		AND j.account_id = t.account_id
	</select>
	  
	<select id="getJournalListAll" resultType="journalEx" parameterType="journalSch">
		SELECT * FROM (
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{projectId}
			and j.document_id = #{document_id}
		UNION 
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{projectId}
			and j.document_id = #{document_id}
			) e ORDER BY e.CREATED_ON DESC
	</select>
	<select id="getJournalListTask" resultType="journalEx" parameterType="journalSch">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{projectId}
			and j.document_id = #{document_id}
			order by j.created_on desc
	</select>
	<select id="getJournalListRisk" resultType="journalEx" parameterType="journalSch">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{projectId}
			and j.document_id = #{document_id}
			order by j.created_on desc
	</select>
	<select id="getJournalListAlld" resultType="journalEx" parameterType="journalSch">
		SELECT * FROM (
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{projectId}
		UNION 
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{projectId}
			) e ORDER BY e.CREATED_ON DESC
	</select>
		<select id="getJournalListTaskd" resultType="journalEx" parameterType="journalSch">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{projectId}
			order by j.created_on desc
	</select>
	<select id="getJournalListRiskd" resultType="journalEx" parameterType="journalSch">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{projectId}
			order by j.created_on desc
	</select>

	 <!-- 
	<select id="getJournalListAll" resultType="journalEx" parameterType="int">
		SELECT * FROM (
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{project_id}
		UNION 
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{project_id}
			) e ORDER BY e.CREATED_ON DESC
		  // SELECT (...) e ORDER BY e.CREATED_ON DESC; 
	</select>
	<select id="getJournalListTask" resultType="journalEx" parameterType="int">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, task t, project p
			where UPPER(j.document_type) = UPPER('task')
			AND j.document_id = t.id
			AND j.account_id = a.id 
			and t.project_id = p.id
			and t.project_id = #{project_id}
			order by j.created_on desc
	</select>
	<select id="getJournalListRisk" resultType="journalEx" parameterType="int">
		SELECT j.*, a.name account_name, p.name project_name
			FROM journal j, account a, risk r, project p
			where UPPER(j.document_type) = UPPER('risk')
			AND j.document_id = r.id
			AND j.account_id = a.id
			and r.project_id = p.id
			and r.project_id = #{project_id}
			order by j.created_on desc
	</select>
	 -->
 <!--
	<select id="getJournalList" parameterType="journal" resultType="journal">
	SELECT * 
	FROM journal
	WHERE document_type like '%'||#{document_type}||'%'
		order by created_on desc
	</select>
	 --> 
	
</mapper>






