<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A15_NoticeDao">
	<select id="getNoticeList" resultType="notice">
		SELECT n.*, a.name account_name,
					p.name project_name
		FROM NOTICE n, ACCOUNT a, PROJECT p
		WHERE n.ACCOUNT_ID = a.ID
		AND n.PROJECT_ID = p.ID
		ORDER BY n.ID DESC
	</select>
	<select id="getNotice" resultType="notice" parameterType="int">
		SELECT n.*, a.name account_name,
					p.name project_name
		FROM NOTICE n, ACCOUNT a, PROJECT p
		WHERE n.ACCOUNT_ID = a.ID 
		AND n.PROJECT_ID = p.ID
		AND n.id = #{id}
	</select>
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO notice values(
			notice_seq.nextval,	#{project_id}, #{account_id},
			#{subject}, #{content}, sysdate, sysdate
		)
	</insert>
</mapper>
