<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A16_RiskDao">
	<resultMap type="risk" id="riskList"/>
	<select id="getRiskList" resultMap="riskList" parameterType="risk">
		SELECT r.*, a.name account_name,
					p.name project_name
		FROM RISK r, ACCOUNT a, PROJECT p
		WHERE r.ACCOUNT_ID = a.ID
		AND r.PROJECT_ID = p.ID
		ORDER BY r.ID DESC
	</select>
	<!--public Risk getRask(int id) -->
	<select id="getRisk" resultType="risk" parameterType="int">
		SELECT r.*, a.name account_name,
					p.name project_name
		FROM RISK r, ACCOUNT a, PROJECT p
		WHERE r.ACCOUNT_ID = a.ID 
		AND r.PROJECT_ID = p.ID
		AND r.id = #{id}
	</select>
	
	<select id="fileInfo" resultType="attachment" parameterType="int">
		SELECT *
		FROM attachment
		WHERE document_id = #{document_id}
	</select>
	<insert id="uploadFile" parameterType="attachment">
		INSERT INTO attachment VALUES (
			ATTACHMENT_SEQ.nextval, #{document_type}, risk_seq.currval,
			#{filename}, #{disk_filename}, #{pathname}, #{filesize}, sysdate)
	</insert>
	<delete id="deleteFile" parameterType="int">
		DELETE from ATTACHMENT where id=#{id}
	</delete>
	<update id="updateFile" parameterType="hashMap">
		UPDATE ATTACHMENT
			SET filename = #{filename},
				filesize = #{filesize}
		WHERE id=#{id}
			AND filename=#{orgFilename}
	</update>
	
	
	<!-- public void inertRisk(Risk ins); -->
	<insert id="insertRisk" parameterType="risk">
		INSERT INTO RISK 
		VALUES (RISK_seq.nextval, #{project_id}, #{account_id},
				#{subject}, #{description}, #{status}, #{category},
				sysdate, sysdate, #{start_date}, #{end_date},
				#{probability}, #{impact},
				#{strategy}, #{treatment})
	</insert>
	<!-- public void updateRisk(Risk upt) -->
	<update id="updateRisk" parameterType="risk">
		UPDATE RISK
		SET status = #{status},
			description = #{description},
			account_id = #{account_id},
			category = #{category},
			probability = #{probability},
			impact = #{impact},
			strategy = #{strategy},
			start_date = #{start_date},
			end_date = #{end_date},
			updated_on = sysdate,
			treatment = #{treatment}
		WHERE ID = #{id}
	</update>
	<delete id="deleteRisk" parameterType="int" >
		DELETE FROM RISK
			WHERE id = #{id}
	</delete>
	
	<!-- public ArrayList<Risk> getRecentRiskListByProject(int projectId); -->
	<select id="getRecentRiskListByProject" resultType="risk" parameterType="int">
		SELECT * FROM 
		(SELECT * FROM RISK WHERE PROJECT_ID = #{projectId} ORDER BY CREATED_ON DESC) 
		WHERE ROWNUM <![CDATA[<=]]> 5
	</select>
</mapper>
