<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pms.a03_dao.A99_CommonDao">
	<select id="getTempList" resultType="temp">
		SELECT * FROM TEMP
	</select>
	<!-- public ArrayList<Language> languageList(); -->
	<select id="languageList" resultType="language">
		SELECT * FROM LOCALIZE
	</select>
</mapper>
